.float-right {
    float: right;
}

mat-card {
    padding: 30px;
}

table {
    width: 100%;
}  

::ng-deep .highlight {
    color: white;
    background: rgb(58, 94, 4);
}
span{
 font-weight: bold;
 color:solid black;
  font-size: x-large;

}