<body>
    <mat-card class="head">
        <b><span style="font-family:Arial, Helvetica, sans-serif">Dashboard</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Our Categories Number</h2>
                    <img src="../../assets/img/cat1.jpg" target="_blank">
                    <h1 class="title">{{data?.category}}</h1>
                    <p><button class="button" [routerLink]="['/cafe/category']">View Category</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 class="title">Our Products Number</h2>
                    <img class="prod1"src="../../assets/img/prod1.jpg" target="_blank">
                    <h1 class="title">{{data?.product}}</h1>
                    <p><button class="button" [routerLink]="['/cafe/product']">View Product</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">

                <div class="container">
                    <h2 class="title">Our Bills Number</h2>
                    <img class="prod1"src="../../assets/img/reciept.jpg" target="_blank">
                    <h1 class="title">{{data?.bill}}</h1>              
                    <p><button class="button" [routerLink]="['/cafe/bill']">View Bill</button></p>
                </div>
            </div>
        </div>


    </div>
</body>